venv/
env/
.env

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

db.sqlite3
*.sqlite3

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

.vscode/
.idea/
.DS_Store
Thumbs.db

recursoorden.xlsx
media/
staticfiles/
